<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

	<!-- The Context Loader Listener class of Spring Framework as a Listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring Framework Configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/spring/applicationContext-properties.xml
			classpath:config/spring/applicationContext-jdbc.xml
			classpath:config/spring/applicationContext-common.xml
		</param-value>
	</context-param>

	<!-- Filter Configurations -->
	<!-- UTF-8 encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Servlet Configurations -->
	<!-- API Dispatcher -->
	<servlet>
		<servlet-name>apiDispatcherSerlvet</servlet-name>
		<servlet-class>com.hnsnmn.admin.api.dispatcher.ApiDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>apiDispatcherSerlvet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!-- Web App Dispatcher -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Error Handling -->
	<!-- Mapping a lot of errors of Bad Request -->
	<error-page>
		<error-code>400</error-code>
		<location>/api/errors/400</location>
	</error-page>
</web-app>
